/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


:root {
  --ion-font-family: Poppins;
  --highlight-color-focused: #000066;
  --ion-color-primary: #000066;
  --ion-color-success: #E9FAF4;
  --ion-color-danger: #FCEAEA;
  --ion-color-dark: #E5E5FB;
}

ion-button {
  --background: #000066;
  --background-hover: #000066;
  --background-activated: #000066;
  --background-focused: #000066;
}
 
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}